.multiplepg{
    margin-top: 100px;
    display: flex;
    width : 100%
}
.multiplepg .content{
    padding-top: 50px;
    padding-left: 200px;
    width: 40%;
}
.multiplepg .csvimg{
    width: 50%;
    padding-left: 250px;
    
}
.multiplepg .content h4{
    font-size: 30px;
    margin-bottom: 25px;
}
.multiplepg .content input{
    background-color: black;
}
.csvimg img{
    width: 350px;
    height: 300px;
}