table{
    width: 70%;
    margin-top: 60px;
    margin-left: 90px;
}
.homepage{
    display: flex;
    width: 100%;
}
.table{
    width : 70%;
}
td p{
    color: black;
    font-size: 20px;

}
.productp{
    color: black;
    margin-left: 90px;
    margin-top: 25px;
    font-size: 25px;
}
.productdetailsbtn{
    margin-left: 90px;
    width: 205px;
    background-color: black;
    color: white;
    width: 220px;
    border: solid black 1px;
    border-radius: 20px;
    height: 40px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
td{
    padding-left: 20px;
    padding-top: 15px;
}
.profileicon{
    width : 30%
}
.profileicon img{
    padding-top: 65px;
    width : 250px;
    height: 350px;
}
.productdetailsbtn:hover{
    background: linear-gradient(to right, black, blue, violet);
}