.register{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: -52px;
}
.registerbox{
    width:420px;
   background: transparent;
   border: 2px solid rgba(255,255,255,.2);
   backdrop-filter: blur(20px);
   box-shadow: 0 0 10px rgba(0,0,0,.2);
   color:#fff;
   border-radius: 10px;
   padding: 20px 20px;
   
}
.registerbox h1{
   font-size: 25px;
   text-align: center;
}
.registerbox .input-box{
     
   width: 100%;
   height: 40px;
   margin: 30px 0;
}

.input-box input{
    width: 90%;
   height: 100%;
   background: transparent;
   border: none;
   outline :none;
   border: 2px solid rgba(255,255,255,.2);
   border-radius: 40px;
   font-size: 16px;
   color: #fff;
   padding-left: 20px;
   margin-left :5px;
}
.input-box input::placeholder{
    color : #fff;
}
.registerbox button{
    width: 90%;
   height: 35px;
   background-color: black;
   color:white;
   border: none;
   outline :none;
   border-radius: 40px;
   margin-left :5px;
   box-shadow: 0 0 10px rgba(0,0,0,.1);
   cursor: pointer;
   font-size: 16px;
   font-weight: 600;
   margin-bottom: 20px;
}
.registerbox button:hover{
    background: linear-gradient(to right, black, blue, violet);
}

